<div class="alert alert-danger" *ngIf='error'>
 <p></p>
</div>


<div class="w-75 m-auto  the-div-form">
   <form [formGroup]='loginform' (ngSubmit)='submitloginForm(loginform)'>
   <div class="form-group">
    <label for="email">email</label>
    <input type="email" id="email" class="form-control" formControlName='email'/>
    <div class="alert alert-danger mt-2 " *ngIf="loginform.get('email')?.errors != null&& loginform.get('email')?.touched">
        <p *ngIf='loginform.get("email")?.errors?.required'>email required</p>
        <p *ngIf='loginform.get("email")?.errors?.email'>email is not</p>
       

     </div>
   </div>

    <div class="form-group">
        <label for="password">password</label>
        <input type="password" id="password" class="form-control" formControlName='password'/>


        <div class="alert alert-danger mt-2"  *ngIf="loginform.get('password')?.errors != null&& loginform.get('password')?.touched">
            <p *ngIf='loginform.get("password")?.errors?.required'>password required</p>
            <p *ngIf='loginform.get("password")?.errors?.pattern'>The password must be the first capital letter and the number 8 </p>
          

         </div>
    </div>

    <button [disabled]='loginform.invalid' type="submit" class="btn btn-info">login</button>
   </form>
</div>