
$lightcolor:#24baef;
$bordercolor:#a8a8a83d;
$secoungfontsolor:#949cb0;


.theretm{
    position: absolute;
    top: 0;
    right: 10px;
    background-color:$lightcolor;
}


a{
    color: white;
   text-decoration: none;
}